<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Meta -->
  <meta name="description" content="Sistema de Veterinaria con citas médicas, desarrollado por UISRAEL.">
  <meta name="author" content="UISRAEL">

  <title>Sistema de Veterinaria</title>

  <!-- vendor css -->
  <link href="../../lib/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="../../lib/Ionicons/css/ionicons.css" rel="stylesheet">
  <link href="../../lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
  <link href="../../lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
  <link href="../../lib/rickshaw/rickshaw.min.css" rel="stylesheet">
  <link href="../../lib/chartist/chartist.css" rel="stylesheet">

  <link href="../../lib/select2/css/select2.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Bracket Personalizados CSS -->
  <link rel="stylesheet" href="../../css/bracket.css">
</head>
