<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/Head :: Head}"></head>

<body>

<div th:replace="~{fragments/Menu::Menu}"></div>
<div th:replace="~{fragments/Header::Header}"></div>
<div th:replace="~{fragments/PanelLateral::PanelLateral}"></div>

<!--INICIO DE CONTENIDO-->
<div class="br-mainpanel ">
    <!--BARRA DE NAVEGACION -->
    <div class="br-pageheader pd-y-5 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" th:href="@{/Inicio}">Inicio</a>
            <span class="breadcrumb-item"></span> <!-- Separador -->
            <a class="breadcrumb-item" th:href="@{/Cliente}">Clientes</a>
        </nav>
    </div>
    <!--FIN DE BARRA DE NAVEGACION -->

    <!-- Mensaje de éxito -->
    <div class="container">
        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message" role="alert">
            [[${message}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <div class="br-pagebody mg-t-5 pd-x-30 ">
        <div class="row row-sm mg-t-20">
            <div class="col-12">
                <div class="br-section-wrapper p-3" style="background-color: #1d2939;">

                    <!--TABLA CLIENTES-->
                    <div>
                        <table class="table display responsive nowrap table-bordered" style="background: azure;">
                            <thead class="thead-colored thead-primary">
                            <tr>
                                <th class="wd-10p">Nombre</th>
                                <th class="wd-5p">Cedula</th>
                                <th class="wd-5p">Telefono</th>
                                <th class="wd-10p">Email</th>
                                <th class="wd-10p">Direccion</th>
                                <th class="wd-5p">Estado</th>
                                <th class="wd-5p">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cliente : ${cliente}">
                                <td th:text="${cliente.nombre}"></td>
                                <td th:text="${cliente.cedula}"></td>
                                <td th:text="${cliente.telefono}"></td>
                                <td th:text="${cliente.email}"></td>
                                <td th:text="${cliente.direccion}"></td>
                                <td th:text="${cliente.estado}"></td>
                                <td>
                                    <a style="padding: 8px; margin-right: 5px;"
                                       th:href="@{/Cliente/cambiarEstado/{id}(id=${cliente.id})}"
                                       class="btn btn-sm"
                                       th:class="${cliente.estado == T(com.Uisrael.SistemaVeterinaria.entities.Cliente.EstadoCliente).ACTIVO ? 'btn-danger' : 'btn-success'}">
                                        <i th:class="${cliente.estado == T(com.Uisrael.SistemaVeterinaria.entities.Cliente.EstadoCliente).ACTIVO ? 'fas fa-times' : 'fas fa-check'}"></i>
                                    </a>
                                    <!-- Botón "Editar" solo visible si el cliente está ACTIVO -->
                                    <a th:if="${cliente.estado == T(com.Uisrael.SistemaVeterinaria.entities.Cliente.EstadoCliente).ACTIVO}"
                                       th:href="@{/Cliente/editar/{id}(id=${cliente.id})}"
                                       class="btn btn-outline-warning btn-icon"
                                       style="padding: 8px;">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--FIN DE CONTENIDO-->

    <footer class="br-footer">
        <div class="footer-left">
            <div class="mg-b-2">Copyright © 2024 Uisrael Sistema Veterinaria </div>
            <div>Si lo puedes imaginar lo puedes crear</div>
        </div>
    </footer>
</div>

<script src="../../lib/jquery/jquery.js"></script>
<script src="../../lib/popper.js/popper.js"></script>
<script src="../../lib/bootstrap/bootstrap.js"></script>
<script src="../../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../../lib/moment/moment.js"></script>
<script src="../../lib/jquery-ui/jquery-ui.js"></script>
<script src="../../lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="../../lib/peity/jquery.peity.js"></script>
<script src="../../js/bracket.js"></script>
<script src="../../lib/morris.js/morris.js"></script>
<script src="../../lib/highlightjs/highlight.pack.js"></script>

</body>
</html>
