<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragments/Head :: Head}"></head>

<body>

<div th:replace="~{fragments/Menu::Menu}"></div>
<div th:replace="~{fragments/Header::Header}"></div>
<div th:replace="~{fragments/PanelLateral::PanelLateral}"></div>

<!--INICIO DE CONTENIDO-->
<div class="br-mainpanel ">
    <!--BARRA DE NAVEGACION -->
    <div class="br-pageheader pd-y-5 pd-l-20">
        <nav class="breadcrumb pd-0 mg-0 tx-12">
            <a class="breadcrumb-item" th:href="@{/Inicio}">Inicio</a>
            <span class="breadcrumb-item"></span> <!-- Separador -->
            <a class="breadcrumb-item" th:href="@{/Mascota}">Mascotas</a>
            <span class="breadcrumb-item"></span>
            <span class="breadcrumb-item" th:text="${mascota.nombre}"></span>
        </nav>
    </div>
    <!--FIN DE BARRA DE NAVEGACION -->

    <!-- Mensaje de éxito -->
    <div class="container">
        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message" role="alert">
            [[${message}]]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Cerrar"></button>
        </div>
    </div>

    <div class="br-pagebody mg-t-5 pd-x-30 ">
        <div class="row row-sm mg-t-20">
            <div class="col-12">
                <div class="br-section-wrapper p-3" style=" background-color: #1d2939;">
                    <!-- FORMULARIO DE EDICIÓN -->
                    <div class="table-wrapper ">
                        <div class="dropdown-menu bg-white pd-xs-30 pos-static ft-none shadow-base show mb-4">
                            <form th:action="@{/Mascota/save}" method="post" enctype="multipart/form-data" th:object="${mascota}" style=" margin:0 auto;">
                                <!-- Campo oculto para el ID de la mascota (necesario para la edición) -->
                                <input type="hidden" th:field="*{id}" />

                                <fieldset class="p-2">
                                    <h3 class="box-title tx-20 tx-bold tx-center tx-uppercase" style="color: #003e74;">
                                        MASCOTA</h3>
                                    <hr>
                                    <div class="row shadow-base" style="background: #deedff94; padding: 8px; margin: 5px; border-radius: 10px;">
                                        <input type="hidden" name="id" th:value="${mascota.id}"> <!-- Campo oculto para el ID del cliente -->

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="cliente">Seleccione el dueño de la Mascota: <span class="tx-danger">*</span></label>
                                            <select id="cliente" name="cliente" th:field="*{cliente.id}" class="form-control selectpicker" data-live-search="true" required>
                                                <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nombre}"></option>
                                            </select>
                                        </div>
                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="nombre">Nombre: <span class="tx-danger">*</span></label>
                                            <input type="text" class="form-control" name="nombre" th:field="*{nombre}" id="nombre" maxlength="256" placeholder="Ingresar nombre de la mascota" required>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="raza">Raza: <span class="tx-danger">*</span></label>
                                            <input type="text" class="form-control" name="raza" th:field="*{raza}" id="raza" maxlength="256" placeholder="Ingresar la raza" required>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="especie">Especie: <span class="tx-danger">*</span></label>
                                            <input type="text" class="form-control" name="especie" th:field="*{especie}" id="especie" maxlength="256" placeholder="Ingresar la especie" required>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="sexo">Sexo: <span class="tx-danger">*</span></label>
                                            <select class="form-control" name="sexo" th:field="*{sexo}" id="sexo" required>
                                                <option value="">Seleccionar sexo</option>
                                                <option value="Macho">Macho</option>
                                                <option value="Hembra">Hembra</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="fechaNacimiento">Fecha de nacimiento:</label>
                                            <input type="date" class="form-control" name="fechaNacimiento" th:field="*{fechaNacimiento}" id="fechaNacimiento" required>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="edad">Edad: <span class="tx-danger">*</span></label>
                                            <input type="number" class="form-control" name="edad" th:field="*{edad}" id="edad" placeholder="Ingresar la edad en años" required>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="color">Color: <span class="tx-danger">*</span></label>
                                            <input type="text" class="form-control" name="color" th:field="*{color}" id="color" maxlength="256" placeholder="Ingresar el color" required>
                                        </div>

                                        <div class="form-group col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                            <label for="peso">Peso: <span class="tx-danger">*</span></label>
                                            <input type="number" step="0.1" class="form-control" name="peso" th:field="*{peso}" id="peso" placeholder="Ingresar el peso en kg" required>
                                        </div>
                                    </div>
                                    <!-- Botón debajo de los inputs -->
                                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-outline-primary btn-block" style="cursor: pointer;">
                                            <i class="icon ion-archive mg-r-10"></i> GUARDAR
                                        </button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer class="br-footer">
    <div class="footer-left">
        <div class="mg-b-2">Copyright © 2024 Uisrael Sistema Veterinaria </div>
        <div>Si lo puedes imaginar lo puedes crear</div>
    </div>
</footer>
</div>

<script src="../../lib/jquery/jquery.js"></script>
<script src="../../lib/popper.js/popper.js"></script>
<script src="../../lib/bootstrap/bootstrap.js"></script>
<script src="../../lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
<script src="../../lib/moment/moment.js"></script>
<script src="../../lib/jquery-ui/jquery-ui.js"></script>
<script src="../../lib/jquery-switchbutton/jquery.switchButton.js"></script>
<script src="../../lib/peity/jquery.peity.js"></script>
<script src="../../js/bracket.js"></script>
<script src="../../lib/morris.js/morris.js"></script>
<script src="../../lib/highlightjs/highlight.pack.js"></script>

</body>
</html>
